<?xml version='1.0' encoding='utf-8'?>
<widget id="com.holostorecard.app" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>3DHoloStore AR extension</name>
    <description>3D Holostorecard AR extension</description>
    <author email="info@3dholostorecard.com" href="http://3dholostorecard.com">nrgie</author>
    <content src="index.html" />
    <icon src="www/img/logo.png" />
    <plugin name="cordova-plugin-inappbrowser" spec="1" />
    <plugin name="cordova-plugin-geolocation" spec="1" />
    <plugin name="com.ezartech.ezar.videooverlay" spec="1" />
    <plugin name="com.darktalker.cordova.screenshot" source="pgb" spec="1" />
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="EnableWebGL" value="true" />
    <preference name="xwalkVersion" value="19+" />
    <preference name="xwalkCommandLine" value="--disable-pull-to-refresh-effect" />
    <preference name="xwalkMode" value="embedded" />
    <preference name="xwalkMultipleApk" value="true" />
</widget>
